* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.navbar {
  background-color: #FFFFFF;
  padding: 40px 0;
}
.navbar__search {
  margin-left: 108px;
}
.navbar__menu-button {
  display: none;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  width: 177px;
}

.search {
  width: 350px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F5FAFE;
  outline: none;
  border: none;
  padding: 0 23px;
  border-radius: 6px 0 0 6px;
}
.search__input::-webkit-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input::-moz-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input:-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input::-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__button {
  width: 65px;
  background-color: #EC1F46;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 6px 6px 0;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__name {
  margin-left: 18px;
  font-size: 14px;
}

.menu {
  background-color: #0A223D;
  color: #FFFFFF;
  padding: 31px 0;
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  text-transform: uppercase;
}
.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  font-size: 10px;
}
.breadcrumb-list__item:not(:last-child):after {
  content: "/";
  margin-right: 4px;
}
.hotel {
  padding-top: 23px;
  padding-bottom: 20px;
}
.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hotel-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 389px;
}
.hotel-info__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 5px;
  margin-right: 14px;
}
.hotel-info__offer {
  height: 20px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  background-color: #EC1F46;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 4px 9px;
}
.hotel-info__description {
  font-size: 12px;
  line-height: 15px;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.rating {
  width: 65px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EC1F46;
  color: #FFFFFF;
  border-radius: 4px;
}
.rating__text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 2px;
}
.rating__counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.rating__counter--small {
  font-size: 10px;
  line-height: 13px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 730px;
  }

  .navbar-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navbar {
    padding: 30px 0;
  }
  .navbar__search {
    margin-left: 0;
    width: 340px;
  }

  .user {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .menu {
    padding: 22px 0;
  }

  .logo__image {
    width: 132px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 606px;
  }

  .navbar__search {
    display: none;
  }

  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .menu-button__line + .menu-button__line {
    margin-top: 4px;
  }

  .user {
    display: none;
  }

  .menu {
    display: none;
  }

  .rating {
    display: none;
  }

  .hotel-info__text {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .hotel-info__name {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .stars {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: end;
  }
}
@media (max-width: 576px) {
  .logo__image {
    width: 99px;
  }
}