* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #EC1F46;
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 0;
  cursor: pointer;
}

.navbar {
  background-color: #FFFFFF;
  padding: 40px 0;
}
.navbar__search {
  margin-left: 108px;
}
.navbar__menu-button {
  display: none;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  width: 177px;
}

.search {
  width: 350px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F5FAFE;
  outline: none;
  border: none;
  padding: 0 23px;
  border-radius: 6px 0 0 6px;
}
.search__input::-webkit-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input::-moz-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input:-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input::-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__input::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.search__button {
  width: 65px;
  background-color: #EC1F46;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 6px 6px 0;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__name {
  margin-left: 18px;
  font-size: 14px;
}

.menu {
  background-color: #0A223D;
  color: #FFFFFF;
  padding: 31px 0;
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  text-transform: uppercase;
}
.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  font-size: 10px;
}
.breadcrumb-list__item:not(:last-child):after {
  content: "/";
  margin-right: 4px;
}
.hotel {
  padding-top: 23px;
  padding-bottom: 20px;
}
.hotel-grid {
  margin-bottom: 70px;
}
.hotel-grid__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hotel-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 389px;
}
.hotel-info__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 5px;
  margin-right: 14px;
}
.hotel-info__offer {
  height: 20px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  background-color: #EC1F46;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 4px 9px;
}
.hotel-info__description {
  font-size: 12px;
  line-height: 15px;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.rating {
  width: 65px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EC1F46;
  color: #FFFFFF;
  border-radius: 4px;
}
.rating__text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 2px;
}
.rating__counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.rating__counter--small {
  font-size: 10px;
  line-height: 13px;
}

.swiper {
  position: relative;
  border-radius: 8px;
}
.swiper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}

.slider {
  width: 728px;
  height: 450px;
}
.slider-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 50;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}
.slider-button--next {
  right: 18px;
  background-image: url(../../img/arrow-next.svg);
}
.slider-button--prev {
  left: 18px;
  background-image: url(../../img/arrow-prev.svg);
}

.booking {
  width: 350px;
  min-height: 210px;
  background-color: #0A223D;
  padding: 28px;
  color: #FFFFFF;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}
.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.booking__start {
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.booking__per-room {
  font-size: 12px;
  line-height: 16px;
}
.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
}
.booking__room {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.booking__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.booking__icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.booking__description {
  font-size: 12px;
  line-height: 16px;
}
.booking__button {
  width: 100%;
  min-height: 45px;
}
.booking__call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}
.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.booking__num {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-left: 8px;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

.newsletter {
  position: relative;
  padding-top: 98px;
  padding-bottom: 87px;
  color: #FFFFFF;
  background-image: url(../../img/newsletter-big.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.newsletter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 34, 61, 0.8);
}
.newsletter-wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  z-index: 30;
}
.newsletter__title--strong {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  z-index: 30;
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 33px;
  padding-right: 75px;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
}
.subscribe__input::-webkit-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
}
.subscribe__input::-moz-placeholder {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
}
.subscribe__input:-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
}
.subscribe__input::-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
}
.subscribe__input::placeholder {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
}
.subscribe__button {
  position: absolute;
  right: 0;
  min-width: 65px;
  height: 100%;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  background-color: #EC1F46;
  color: #FFFFFF;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }

  .slider {
    width: 600px;
  }

  .swiper-slide__image {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .hotel-grid__wrapper {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 730px;
  }

  .navbar-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navbar {
    padding: 30px 0;
  }
  .navbar__search {
    margin-left: 0;
    width: 340px;
  }

  .user {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .menu {
    padding: 22px 0;
  }

  .logo__image {
    width: 132px;
  }

  .hotel-grid__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel-grid__slider {
    margin-bottom: 10px;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .slider {
    width: 100%;
  }

  .booking {
    width: 340px;
  }

  .map {
    width: 340px;
  }

  .newsletter-wrapper {
    max-width: 730px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 606px;
  }

  .navbar__search {
    display: none;
  }

  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .menu-button__line + .menu-button__line {
    margin-top: 4px;
  }

  .user {
    display: none;
  }

  .menu {
    display: none;
  }

  .rating {
    display: none;
  }

  .hotel-info__text {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .hotel-info__name {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .stars {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: end;
  }

  .slider,
.swiper-slide__image {
    height: 450px;
  }

  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .booking {
    width: 100%;
  }

  .map {
    width: 100%;
  }

  .newsletter-wrapper {
    max-width: 606px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .logo__image {
    width: 99px;
  }

  .slider,
.swiper-slide__image {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .newsletter {
    padding-top: 76px;
    padding-bottom: 83px;
  }
  .newsletter__subscribe {
    width: 100%;
  }
}