@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 730px;
  }

  .navbar-wrapper {
    justify-content: space-between;
  }

  .navbar {
    padding: 30px 0;

    &__search {
      margin-left: 0;
      width: 340px;
    }
  }

  .user {
    flex-grow: 0;
  }

  .menu {
    padding: 22px 0;
  }

  .logo {
    &__image {
      width: 132px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 606px;
  }

  .navbar {
    &__search {
      display: none;
    }
  }

  .menu {
    &-button {
      display: flex;
      flex-direction: column;
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;

      &__line {
        width: 16px;
        height: 1px;
        background-color: $color-dark-333;
      }

      &__line+&__line {
        margin-top: 4px;
      }
    }
  }

  .user {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media(max-width: 576px) {
  .logo {
    &__image {
      width: 99px;
    }
  }
}