* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  // font-family: 'Nunito', sans-serif;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}