* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: 'Mulish', sans-serif;
  // font-family: 'Nunito', sans-serif;
  background-color: $color-light-blue;
  color: $color-dark-333;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}