* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  // max-width: 100%;
  object-fit: cover;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

body {
  font-family: 'Mulish', sans-serif;
  // font-family: 'Nunito', sans-serif;
  background-color: $color-light-blue;
  color: $color-dark-333;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: $color-red;
  color: $color-white;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 0;
  cursor: pointer;
}