$color-white: #FFFFFF;
$color-light-blue: #F5FAFE;
$color-blue: #1F34EC;
$color-dark-blue: #0A223D;
$color-red: #EC1F46;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  // font-family: 'Nunito', sans-serif;
  margin: 0;
}

.header {
  padding: 40px 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.logo {
  &__image {
    margin-right: 108px;
  }
}

.search {
  width: 350px;
  height: 40px;
  display: flex;

  &__input {
    flex-grow: 1;
    background-color: $color-light-blue;
    outline: none;
    border: none;
    padding: 0 23px;

    &::placeholder {
      font-family: 'Mulish', sans-serif;
      font-size: 12px;
    }
  }

  &__button {
    width: 65px;
    background-color: $color-red;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin-left: 18px;
    font-size: 14px;
  }
}

.menu {
  background-color: $color-dark-blue;
  color: $color-white;
  padding: 31px 0;

  &__items {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__item {}

  &__link {}
}