.booking {
  width: 350px;
  min-height: 210px;
  background-color: $color-dark-blue;
  padding: 28px;
  color: $color-white;
  border-radius: 8px;
  font-family: 'Nunito', sans-serif;

  &__price {
    display: flex;
    flex-direction: column;
  }

  &__start {
    font-size: 10px;
    line-height: 14px;
  }

  &__pricetag {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
  }

  &__per-room {
    font-size: 12px;
    line-height: 16px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  &__room {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__text {
    display: flex;
    // align-items: center;
  }

  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }

  &__description {
    font-size: 12px;
    line-height: 16px;
  }

  &__button {
    width: 100%;
    min-height: 45px;

  }

  &__call-center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  &__number {
    display: flex;
    align-items: center;
  }

  &__num {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-left: 8px;
  }
}

.map {
  width: 347px;
  height: 213px;
  // background-color: #000;
  border-radius: 4px;
}