.header {
  padding: 40px 0;

  &__search {
    // margin-right: auto;
    margin-left: 108px;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  &__image {}
}

.search {
  width: 350px;
  height: 40px;
  display: flex;

  &__input {
    flex-grow: 1;
    background-color: $color-light-blue;
    outline: none;
    border: none;
    padding: 0 23px;
    border-radius: 6px 0 0 6px;

    &::placeholder {
      font-family: 'Mulish', sans-serif;
      font-size: 12px;
    }
  }

  &__button {
    width: 65px;
    background-color: $color-red;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin-left: 18px;
    font-size: 14px;
  }
}