.hotel {
  padding-top: 23px;
  padding-bottom: 20px;

  &__rating {}
}


.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 389px;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 14px;
  }

  &__offer {
    height: 20px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    background-color: $color-red;
    color: $color-white;
    border-radius: 3px;
    padding: 4px 9px;
  }

  &__description {
    font-size: 12px;
    line-height: 15px;
  }
}

.stars {
  flex-basis: 100%;
}

.rating {
  width: 65px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  color: $color-white;
  border-radius: 4px;
  // padding: 9px 6px 6px;

  &__text {
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 2px;
  }

  &__counter {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    &--small {
      font-size: 10px;
      line-height: 13px;
    }
  }
}

.swiper {
  width: 728px;
  height: 450px;
  position: relative;
  border-radius: 8px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    z-index: 10;
  }
}

.slider {
  // width: 728px;
  // height: 450px;

  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;

    &--next {
      right: 18px;
      background-image: url(../../img/arrow-next.svg);
    }

    &--prev {
      left: 18px;
      background-image: url(../../img/arrow-prev.svg);
    }
  }
}