.reviews {
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 70px;
  }

  &__stars {
    text-align: center !important;
  }
}

.reviews-slider {

  &__item {
    max-width: 731px;
    position: relative;
    margin: 45px auto auto;
    background: #FFFFFF;
    border-radius: 8px;
    padding-bottom: 30px;
  }

  &__profile {
    position: relative;
    margin-bottom: 32px;

    &::before {
      content: '';
      position: absolute;
      width: 70px;
      height: 48px;
      top: 13px;
      left: 62px;
      background-image: url(./../img/quotes-top.svg);
      background-repeat: no-repeat;
    }

    &::after {
      content: '';
      position: absolute;
      width: 70px;
      height: 48px;
      top: 130px;
      right: 62px;
      background-image: url(./../img/quotes-bottom.svg);
      background-repeat: no-repeat;
    }
  }

  &__avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    overflow: visible;
  }
}

.reviews-avatar {

  &__username {
    padding-top: 55px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #EC1F46;
    margin-bottom: 10px;
  }

  &__date {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
    margin-bottom: 4px;
  }
}

.previews-slider {

  &__text {
    max-width: 537px;
    font-size: 12px;
    line-height: 160%;
    background: #FFFFFF;
    border-radius: 8px;
    text-align: justify;
    margin: auto;
    padding: 0 15px;
  }
}

.reviews-button-prev {
  right: 0;
  background-image: url(./../img/arrow-next-secondary.svg);

}

.reviews-button-next {
  left: 0;
  background-image: url(./../img/arrow-prev-secondary.svg);

}